main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    height: 150px;
    width: 100%;
    background: #495867;
    display: flex; 
    flex-flow: row center;
    justify-content: center;
    align-items: center;
    border-bottom: dotted #E7AD99;
}

aside {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right:10px;
    padding-left: 10px;
    border-left: dotted #E7AD99;
}

/* vill styla alla bottoms förutom sista*/
article {
    border-bottom: dotted #E7AD99;
}

footer {
    height: 150px;
    width: 100%;
    background: #495867;
    display: flex; 
    flex-flow: row center;
    justify-content: center;
    align-items: center;
    border-top: dotted #E7AD99;
}

h1 {
    font-family: 'Big Shoulders Inline Display', cursive;
    font-size: 36pt;
    color: #ECC8AF;
    letter-spacing: 3px;
}

img {
    position: absolute;
    bottom: 10px;
}

h3 {
    font-size: 16pt;
    padding-left: 20px;
}

li {
    margin: 8px 0;
}

a {
    color: #333D48;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #495867;
    text-decoration: underline;
    font-weight: bold;
  }


.content article:not(last-child){
    border: none;
}

.content {
    display: flex; 
    width: 100%;
    flex-direction: column;
}
.container-wrapper {
    width: 100%;
    display: flex; 
    flex-direction: row;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background: #CE796B;
    color: #333D48;
}

.recept {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 10px;
    margin-top: 20px;
}

.recept-and-ingredients {
    display: flex; 
    flex-direction: row;
}

.image-and-title {
    height: 450px;
    width: 300px;
    padding: 10px;
    margin-right: 5px;
    background: #ECC8AF;
    border: solid 3px #E7AD99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.ingredients {
    height: 450px;
    width: 270px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 10px;
    background: #ECC8AF;
    border: solid 3px #E7AD99;
    font-size: 15px;
}

.prep{
    height: 450px;
    width: 300px;
    padding: 10px;
    margin-right: 5px;
    background: #ECC8AF;
    border: solid 3px #E7AD99;
    font-size: 16px;
}

.cooking-class {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cook {
    height: 330px;
    width: 940px;
    padding: 10px;
    background: #ECC8AF;
    border: solid 3px #E7AD99;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -6px;
    margin-bottom: 25px;
}

.inside-aside {
    height: auto;
    width: auto;
    padding: 10px;
    background: #ECC8AF;
    border: solid 3px #E7AD99;
    font-size: 11pt;
}